<div class="page_bg w-full max-w-md mx-auto">
  <form class="bg-white shadow-md rounded px-8 pt-10 pb-8 mb-4" [formGroup]="jobForm" (ngSubmit)="onSubmitForm()">
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
        Full Name
      </label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder="" formControlName="name">
    </div>
    <div class="mb-6">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
        Message
      </label>
      <textarea class="shadow appearance-none border  rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" formControlName="message" rows="5"></textarea>
      
    </div>
    <div class="flex items-center justify-between">
      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
        Send
      </button>
      <button class="inline-block border align-baseline py-2 px-4 rounded focus:outline-none focus:shadow-outline font-bold text-sm text-blue-500 hover:text-blue-800" (click)="onCancel()" type="button">
        Cancel
      </button>
    </div>
  </form>
  <p class="text-center text-gray-500 text-xs">
    &copy;2024 Ambroze - River Jobs. All rights reserved.
  </p>
</div>