<div class="page_bg pt-10" *ngIf="job$ | async as job">
    <a routerLink="/jobs-list" >
     
    <button routerLink="/jobs-list">Back to Job List</button>
   
    </a>

    <!--{{ job | json }}-->
    <h1>{{job.title}}</h1>
    <h2>{{job.company}}</h2>
    <p>{{job.description}}</p>
    <!-- <button class="button my-6" [routerLink]="['/job-contact', job.id]">Apply Now</button> -->
    <button class="button my-6" routerLink="/job-contact/{{job.id}}">Apply Now</button>

</div>
<div *ngIf="!(job$ | async)">
  Loading...
</div>